.btn {
    display: inline-block;
    padding: 10px;
    background-color: #ffff;
    color: $primary-color;
    font-size: 20px;
    text-align: center;
    

    &:hover {
        cursor: pointer;
    }

    &.primary {
        background-color:  rgba(12, 12, 12, 0.9);
        color: #ffff;
    }

    &.secondary {
        background-color: $secondary-color;
        color:#ffff;
    }
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border:2px solid #ffff;
    margin: 0 10px;

    &.active {
        background-color: #ffff;
    }
}

#contact-me {
    .about-info {
        grid-template-areas: 
        'bioimage'
        'bio';
    }
}
