header {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .menu-toggle {
    position: fixed;
    top: 50px;
    right: 0px;
    padding: 0 $container-padding;
    z-index: 99;

    @include md {
      padding-right: $container-padding-md;
    }

    @include lg {
      display: none;
    }

    .btn {
      padding: 10px 13px;
    }
  }

  .slideshow {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    animation: zoomin 13s ease-in-out infinite alternate;

    &-nav {
      position: absolute;
      bottom: $container-padding;
      right: 0;
      z-index: 99;
      padding-right: $container-padding;

      @include md {
        padding-right: $container-padding-md;
      }

      @include lg {
        top: $container-padding-lg;
        padding-right: $container-padding-lg;
      }

      .btn {
        padding: 15px 20px;
        

        &:hover {
          background-color: #ffffff;
          color: $primary-color;
        }
      }
    }

    &-info {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      max-width: 600px;
      padding-right: $container-padding;
      color: #ffffff;
      text-align: right;
      font-size: 28px;
      z-index: 3;

      @include md {
        padding-right: $container-padding-md;
      }

      @include lg {
        padding-right: $container-padding-lg;
      }

      h1 {
        text-shadow: 1px 1px 2px black, 1px -1px 2px black, -1px 1px 2px black,
          -1px -1px 2px black;
      }

      p {
        font-size: 18px;
        margin: 20px 0;
        text-shadow: 1px 1px 2px black, 1px -1px 2px black, -1px 1px 2px black,
        -1px -1px 2px black;
      }

      .btn {
        color: #ffffff;
        background-color:  rgba(12, 12, 12, 0.9);
        text-shadow: 1px 1px 2px black, 1px -1px 2px black, -1px 1px 2px black,
        -1px -1px 2px black;
      }
    }

    .slide-1 {
      background-image: url("./images/slide_1.jpg");
    }

    .slide-2 {
      background-image: url("./images/slide_2.jpg");
    }

    .slide-3 {
      background-image: url("./images/slide_3.jpg");
    }

    .slides {
      position: absolute;
      width: 100%;
      height: 100%;
      visibility: hidden;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      filter: opacity(0.7);
      transition: all 2.1s ease-in-out;

      &.active {
        position: relative;
        visibility: visible;
        filter: opacity(1);
      }
    }
  }
}
